* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.features {
  display: flex;
  flex-direction: column;

  min-height: 50em;
  padding: 2rem 0;
  position: relative;
  background-image: url("./images/pexels-pixabay-417003.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  /* border: solid red 2px; */
}

.features-overlay {
  background: linear-gradient(0deg, #9526c93a 0%, #5a7ee0a4 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.h2-container-features {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: clamp(1rem, 5vw, 8rem);
}

.h2-features {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #f1a3a2;
}

.features-gallery {
  /* border: solid red 2px; */
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px 50px;
  margin: auto 0;
  text-align: center;
  max-width: 800px;
  z-index: 10;
}

.features-figure img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 200px;
  height: 200px;
}

.features-figure {
  background: linear-gradient(0deg, #5d2db6 0%, #d400ff 40%);

  box-shadow: 4px 4px 10px 4px #f1a3a2;
  border-radius: 20px;
  color: #fff9ea;

  /* border: solid #251e1bc0 1px; */
}

.features-figure figcaption {
  max-width: 190px;
  margin: auto;
  margin-bottom: 10px;
  text-shadow: px 2px #000000;
  text-align: center;
}

.features-figure:hover {
  transform: scale(1.1); /* grows 10% */
  cursor: help; /* changes the mouse pointer */
  transition: transform 0.3s ease; /*smooth animation */
}
