@import url("styleclients.css");
@import url("promo.css");
@import url("features.css");
@import url("prices.css");
@import url("header.css");
@import url("styletestimonials.css");
@import url("subscribe.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #f1a3a2;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #f1a3a2;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #f1a3a2;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: 300;
}
