* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.testimonials {
  display: flex;
  padding: 2rem 1rem;

  background: linear-gradient(135deg, #fdffd2, #0cd2ff);
}

.testimonials-bigbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* aligns all to center */

  padding: 2rem 0rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  align-self: center;
}

.testimonials-bigbox-header {
  display: flex;
  justify-content: center; /* centers the title */
}

.testimonials-gallery {
  /*affects distribution of gallery items */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 50px 50px;
  margin: auto 0;
  text-align: center;
  max-width: 100%;
}

.testimonials-gallery figure {
  /* affects each block of figure*/
  display: inline-block;
  width: 300px;
  margin: 1rem;
  padding: 1rem;

  /* polaroid effect */
  background-color: #ffcffa;
  border: 2px solid #00fff7;
  border-radius: 1rem;

  box-shadow: 4px 4px 12px rgba(219, 0, 200, 0.853);
}

.testimonials-gallery img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}

.testimonials-gallery figcaption {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  position: relative;
}

.testimonials-gallery figure:hover {
  transform: scale(1.1); /* grows 10% */
  cursor: help; /* changes the mouse pointer */
  transition: transform 0.3s ease; /*smooth animation */
}
